*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: #231e4a;
    --font-color: #fff;

    --primary-color: #130d40;
    --primary-color-light: #8178bf;


    --box-shadow-hard: 0 .2rem .5rem rgba(0,0,0,.7);
    --box-shadow-light: 0 .2rem .5rem rgba(0,0,0,.5);

    --box-shadow-highlight: 0 .3rem .7rem rgba(255,255,255,.3);

    --color-correct: #24a346;
    --color-incorrect: #9c0e21;
}

html, body, #root, .App{
    width: 100%;
    height: 100%;
}

.App{
    background-color: var(--main-background);
    font-size: 1.6rem;
}

body{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color)
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 2.3rem;
}

div{
  
}

.app-container{
    padding: 3rem;
    max-width: 1080px;
    margin: 0 auto;
}

.game-container{
    border-radius: 5px;
    background: var(--primary-color-light);
    box-shadow: var(--box-shadow-hard);
    padding: 1rem 2rem;
    min-height: 5rem;
    margin-top: 2rem;
}

