*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background: #231e4a;
    --font-color: #fff;


    --content-width-max: 40rem;
    --content-width-md: 30rem;
  

    --primary-color: #130d40;
    --primary-color-highlight: #1d1657;

    --primary-color-light: #8178bf;


    --box-shadow-hard: 0 .2rem .5rem rgba(0,0,0,.7);
    --box-shadow-light: 0 .2rem .5rem rgba(0,0,0,.5);

    --box-shadow-highlight: 0 .3rem .7rem rgba(255,255,255,.3);

    --color-correct: #24a346;
    --color-incorrect: #9c0e21;
}

html, body, #root, .App{
    width: 100%;
    height: 100%;
}

.App{
    background-color: var(--main-background);
    font-size: 1.6rem;
}

body{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    color: var(--font-color)
}

h1{
    font-size: 3.6rem;
}

h2{
    font-size: 2.3rem;
}

div{
  
}

.app-container{
    padding: 3rem;
    max-width: 1080px;
    margin: 0 auto;
}

.game-container{
    border-radius: 5px;
    background: var(--primary-color-light);
    box-shadow: var(--box-shadow-hard);
    padding: 1rem 2rem;
    min-height: 5rem;
    margin-top: 2rem;
}


.button{
    cursor: pointer;

    &--default{
        padding: .3rem 2rem;
        font-size: 1.6rem;
        background-color: var(--primary-color);
        color: var(--text-color);
        box-shadow: var(--box-shadow-light);
        margin: 0 auto;
        margin-bottom: .5rem;
        width: 100%;
        display: block;
        border: none; 
        max-width: var(--content-width-max);
        transition: all .3s;
        position: relative;

        &:hover{
            background-color: var(--primary-color-highlight);
        }


       
    }

    

    &:hover svg{
        transform: translateY(-50%) scale(1.1);
    }

    svg{
        transform-origin: center center;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%); 
        font-size: 2.6rem;  
        transition: all .3s; 
    }

    &--smaller-icon{
        svg{
            font-size: 1.8rem;
            left: 1.4rem
        }
    }
}

